<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
    title renault
  body
    header
      .ed-container.abcenter
        .ed-item.web-80.no-padding
          #player-video
            .ed-container
              .ed-item
                h2 Ahora se vos un<br>
                  span Sport Inventor
            .ed-container
              .ed-item.web-20.no-padding
                figure.amarillo
              .ed-item.web-20.no-padding
                figure
              .ed-item.web-20.no-padding
                figure
              .ed-item.web-20.no-padding
                figure
              .ed-item.web-20.no-padding
                figure
            .ed-container
              .ed-item.web-20.no-padding
                figure
                figure
              .ed-item.web-60.no-padding
                h1 camioneta
              .ed-item.web-20.no-padding
                figure
                figure
            .ed-container
              .ed-item.web-20.no-padding
                figure
              .ed-item.web-20.no-padding
                figure
              .ed-item.web-20.no-padding
                figure
              .ed-item.web-20.no-padding
                figure
              .ed-item.web-20.no-padding
                figure
