<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
    title renault
  body
    header
      .ed-container.abcenter
        .ed-item.movil-80.no-padding
          #player-video
            .ed-container
              .ed-item
                h2 Ahora se vos un<br>
                  span Sport Inventor
            .ed-container
              .ed-item.movil-20.no-padding
                figure.amarillo
              .ed-item.movil-20.no-padding
                figure#1
              .ed-item.movil-20.no-padding
                figure#2
              .ed-item.movil-20.no-padding
                figure#3
              .ed-item.movil-20.no-padding
                figure#4
            .ed-container
              .ed-item.movil-20.no-padding
                figure#5
                figure#6
              .ed-item.movil-60.no-padding
                h1 camioneta
              .ed-item.movil-20.no-padding
                figure#7
                figure#8
            .ed-container
              .ed-item.movil-20.no-padding
                figure#9
              .ed-item.movil-20.no-padding
                figure#10
              .ed-item.movil-20.no-padding
                figure#11
              .ed-item.movil-20.no-padding
                figure#12
              .ed-item.movil-20.no-padding
                figure#13
